/* (A) WRAPPER */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  max-width: 1000px;
  /*min-height: 100vh;*/
  margin: 0 auto;
}
#poslist { width: 70%; }
#poscart { width: 30%; }

/* (B) PRODUCTS LIST */
#poslist {
  display: grid;
  grid-template-columns: auto auto auto;
}
.pwrap {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fbfbfb;
  cursor: pointer;
  text-align: center;
}
.pimg { max-width: 100px; max-height: 100px; }
.pname { font-weight: 700; }
.pprice { color: #639aff; }

/* (C) CART */
#poscart {
  padding: 10px;
  background: #f7f7f7;
}
.citem > * { box-sizing: border-box; }
.citem, .cname { width: 100%: }
.citem { padding: 10px; }
.cname{ display: block; }
.cdel { width: 25%; }
.cqty { width: 75%; }
#ctotal { font-weight: 700; padding: 10px; }
.cdel, .cqty, #cempty, #ccheckout { padding: 10px; }
.cdel, #cempty, #ccheckout {
  background: #9a2121;
  border: 1px solid #9a2121;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
#cempty, #ccheckout { margin: 5px; }

/* (D) RECEIPT */
#posreceipt { display: none; }
